#bdy{background:#678756;border:hidden;width:60%;padding:30px;margin-left:auto;margin-right:auto;position:relative;}
html{background:url(proxy.jpg) no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size;
cover;-o-background-size:cover;background-size:cover;}